*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 选择标签 */
.chooseLabel_box{
	width:100%;
	height:100%;
	padding: 0 20px;
}
.chooseLabel_box .header{
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left:30px;
	font-size: 16px;
	border-bottom: 1px solid #0faccd;
}
.chooseLabel_box .header::before{
	content: "";
	width: 5px;
	height: 24px;
	display: inline-block;
	background-color: #0faccd;
	vertical-align: -6px;
	margin-right: 10px;
}
.chooseLabel_box  .layui-form-label{
	width: 130px;
	font-size: 15px;
}
.chooseLabel_box  .layui-input-block{
	padding-left:30px;
}
.chooseLabel_box .chooseLabel_body{
	padding-top:15px;
	width: 100%;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}
.chooseLabel_box .chooseLabel_body .data_list{
	width: 80%;
	height: 100%;
	padding-top:70px;
}
.chooseLabel_box .chooseLabel_body  .currentLabel ul{
	max-height:200px;
	overflow-y: auto;
	padding:8px 0 0 12px;
	border: 1px solid #f1f1f1;
	display: flex;
	flex-wrap: wrap;
}
.chooseLabel_box .chooseLabel_body  .currentLabel li{
	position: relative;
	margin: 0 15px 10px 0;
}
.chooseLabel_box .chooseLabel_body  .currentLabel li a{
	background-color:#0faccd; 
	color: #fff;
	display: inline-block;
	padding: 2px 15px;
	font-size: 15px;
	line-height: 20px;

}
.chooseLabel_box .chooseLabel_body  .currentLabel li i{
	width: 16px;
	height:16px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: #f1f1f1;
	color:#0faccd;
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;

	position: absolute;
	top:-8px;
	right:-6px;
}
.chooseLabel_box .chooseLabel_body  .allLabel ul,
.chooseLabel_box .chooseLabel_body  .allrelyService ul{
	max-height:300px;
	padding:0 10px 10px;
	border: 1px solid #f1f1f1;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
}
.chooseLabel_box .chooseLabel_body  .allLabel li,
.chooseLabel_box .chooseLabel_body  .allrelyService li{
	margin-right: 15px;
	vertical-align: middle;
}

.chooseLabel_box .chooseLabel_body  .layui-form-checkbox span{
	line-height: normal;
	padding-right: 0;
	padding-left:5px;
}

.chooseLabel_box .chooseLabel_body  .jsonView{
	width: 100%;	
	padding-left:30px;
	
}
.chooseLabel_box .chooseLabel_body .jsonView #RawJson{
	height: 200px;
	width: 100%;
    resize: none;
    overflow-y: auto;
}
.chooseLabel_box .chooseLabel_body .jsonView  .conversion{
	width: 100%;
	padding:10px;
	margin:10px 0;
	border: 1px solid #999;
	display: flex;
	cursor: pointer;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
}
.chooseLabel_box .chooseLabel_body .jsonView  .conversion span{
	margin-left: 5px;
}
.chooseLabel_box .chooseLabel_body .jsonView  #Canvas{
	width: 100%;
	height:200px;
	overflow-y: auto;

	border: 1px solid #999;
}
.chooseLabel_box .chooseLabel_body #jsonWrong_tip .wrong_label{
	color:#d43f3a !important;
}
.chooseLabel_box .chooseLabel_body #jsonWrong_tip .success_label{
	color:#5cb85c !important;
}
.chooseLabel_box .chooseLabel_body .explainTip{
	line-height: 40px;
	color:#999;
}
.chooseLabel_box .chooseLabel_body  .powerVerify-label{
	font-size: 14px;
	padding:9px 15px 9px 40px;
}


.allLabelItem  ul li input{
	vertical-align: middle;
}
.sColor{
	color: #5fb778
}
.tSpan{
	cursor: pointer;
	margin-left: 5px;
	height:16px;
	line-height: 16px;
	padding-top:5px;
	vertical-align: middle;
	display: inline-block;
}
.btn_group{
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: flex-end;
	padding:8px 50px 8px 8px;
	border-bottom: 1px dashed #dcdcdc;
	z-index:50000;
	position: fixed;
	top:0;
	left:0;
}

.allLabelItem{
	width: 350px;
}

.allLabel{
	position: relative;
}

.generateJSONBtn{
	position: absolute;
	top: 0px;
	right: 0px;
}

.loading-box1 {
	width: 39px;
	height: 39px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -19px;
	margin-top: -19px;
	z-index: 999;
}